<template>
  <div class="">

    <HeaderApp/>

    <SocialLogin/>

  </div>
</template>

<script>
import HeaderApp from '@/components/HeaderApp.vue';
import SocialLogin from '@/components/SocialLogin.vue';

export default {
  name: 'Login',
  components: {
    HeaderApp,
    SocialLogin
  }
}
</script>
