<template>
  <div class="">

    <HeaderApp
      :show_logout="true"
    />
    
    <section class="panel_component">
      <form id="productForm" action="#" method="post">
        <h2>Qual é a marca, o modelo e a versão de seu smartphone?</h2>

        <section class="form_wrapper">
          <SelectDetail
            detail_name="brand"
            :details="product_brands"
            :new_product="new_product"
            :detail_info="'Marca'"
            @changeValue="onChangeValue"
          />
          <SelectDetail
            detail_name="model"
            :details="product_models"
            :new_product="new_product"
            :detail_info="'Modelo'"
          />
          <SelectDetail
            detail_name="version"
            :details="product_versions"
            :new_product="new_product"
            :detail_info="'Versão'"
          />
        </section>

        <div class="form_button_wrapper">
          <button
            class="button_cyp"
            type="button"
            @click="toggleNewProduct()"
          >
            <span v-if="!new_product">Não achei meu produto :/</span>
            <span v-else>Procurar produto na lista</span>
          </button>
          <button
            class="button_cyp button_next"
            type="button"
            @click="postProductsInfo()"
          >
            Próximo
          </button>
        </div>

      </form>
    </section>

  </div>
</template>

<script>
import HeaderApp from '@/components/HeaderApp.vue';
import SelectDetail from '@/components/SelectProductDetail';

export default {
  name: 'ProductDetail',
  components: {
    SelectDetail,
    HeaderApp
  },
  data () {
    return {
      all_products: [],
      product_brands: [],
      product_models: [],
      product_versions: [],
      new_product: false
    }
  },
  beforeCreate () {
    if (!localStorage.access_token || !localStorage.token_type) {
      return this.$router.replace('/');
    }
  },
  mounted () {
    this.getProductsInfo();
  },
  methods: {
    async getProductsInfo () {
      try {
        let config = {
          headers: {
            Authorization: {
              toString () {
                return `Bearer ${localStorage.getItem('access_token')}`
              }
            }
          }
        };

        await this.$http
          .get(`${this.$apiUrl}/products_detail`, config)
          .then(response => {

            if (!response.data.status) {
              throw response.data.message;
            }

            this.all_products = response.data.data;
        
            if (this.all_products.length === 0) {
              throw 'Products not found';
            }

            this.product_brands   = this.getProductsDetail(`brand`);
            this.product_models   = this.getProductsDetail(`model`, this.product_brands[0]);
            this.product_versions = this.getProductsDetail(`version`, this.product_brands[0]);

            return;
          });

        return;
      } catch (error) {
        console.error(error);
      }
    },
    async postProductsInfo () {
      try {
        let form_data = null;
        if (this.new_product) {
          form_data = document.getElementById('productForm').getElementsByTagName('input');
        }
        else {
          form_data = document.getElementById('productForm').getElementsByTagName('select');
        }

        let bodyFormData = new FormData();
        for (let index = 0; index < form_data.length; index++) {
          bodyFormData.set(form_data[index].name, form_data[index].value);
        }

        let config = {
          headers: {
            Authorization: {
              toString () {
                return `Bearer ${localStorage.getItem('access_token')}`
              }
            }
          }
        };

        await this.$http
          .post(`${this.$apiUrl}/products_detail`, bodyFormData, config)
          .then(response => {

            if (!response.data.status) {
              throw response.data.message;
            }

            let brand = response.data.data.brand;
            let model = response.data.data.model;
            let version = response.data.data.version ? response.data.data.version : '';

            return this.$router.replace({
                name: 'ProductRating', 
                params: {
                  brand: brand,
                  model: model,
                  version: version
                }
            });
          });

        return;
      } catch (error) {
        console.error(error);
      }
    },
    getProductsDetail (detail, filter_by_brand = '') {
      try {

        if (this.all_products.length === 0) {
          throw 'Products not found';
        }

        let products = this.all_products;

        if (filter_by_brand) {
          products = products.filter((detail, index, array) => {
            return filter_by_brand == array[index].brand;
          });
        }

        let details = products.map(product => {
          return product[detail];
        });

        return details
          .sort((a, b) => {
            let x = a.toLowerCase(),
                y = b.toLowerCase();

            if (x < y) { return -1; }
            if (y < x) { return 1; }
            return 0;
          })
          .filter((detail, index, array) => {
            return !index || detail != array[index - 1];
          });

      } catch (error) {
        console.error(error);
      }
    },
    onChangeValue (value) {
      this.product_models   = this.getProductsDetail(`model`, value);
      this.product_versions = this.getProductsDetail(`version`, value);

      return;
    },
    toggleNewProduct () {
      this.new_product = !this.new_product;
    }
  }
}
</script>

<style lang="scss">
.panel_component {
  width: 100vw;
  height: 80vh;
}

.form_wrapper {
  height: 100px;
}

.panel_component,
.form_wrapper,
.form_button_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_button_wrapper {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;

  button {
    background: #eee;
    color: #969596;

    &:hover,
    &:active {
      background: #ddd;
      color: #000;
    }
  }
}

.button_next {

  &:hover,
  &:active {
    background: #ddd;
    color: #34a853;
  }
}

@media screen and (max-width: 720px) {
  .panel_component {
    padding: 0 1rem;

    h2 {
      font-size: 18px;
    }
  }

  .form_wrapper {
    flex-direction: column;
    height: 180px;
  }
}

@media screen and (max-width: 360px) {
  .form_button_wrapper {
    flex-direction: column;
    
    button {
      &:first-child {
        margin-bottom: 1rem;
      }
    }
  }
}

</style>