<template>
  <div class="">

    <HeaderApp
      :show_logout="true"
    />

    <section class="panel_component">
      <form id="ratingForm" action="#" method="post">
        <section class="panel_component--section_rating">

          <div
            :class="{
              'panel_component--feature_rating': (show_rating_id === null),
              'hide_panel': (show_rating_id !== null),
            }"
          >
            <StarsProductRating
              description="Qual o seu nível do conhecimento técnico sobre este produto?"
              field_name="technical_knowledge"
              @changeValue="answeredRating()"
            />
          </div>

          <div
            v-for="(item_struct, id) in product_structure"
            :key="id"
            :class="{
              'panel_component--feature_rating': (show_rating_id === id),
              'hide_panel': (show_rating_id !== id),
            }"
          >
            <StarsProductRating
              :description="item_struct.question"
              :field_name="item_struct.feature"
              @changeValue="answeredRating()"
            />
          </div>

        </section>
      </form>
    </section>

  </div>
</template>

<script>
import HeaderApp from '@/components/HeaderApp.vue';
import StarsProductRating from '@/components/StarsProductRating.vue';

export default {
  name: 'Rating',
  components: {
    HeaderApp,
    StarsProductRating
  },
  data () {
    return {
      product_structure: [],
      show_rating_id: null
    }
  },
  beforeCreate () {
    if (!localStorage.access_token || !localStorage.token_type) {
      return this.$router.replace('/');
    }
  },
  mounted () {
    const PRODUCT_TYPE = 'smartphone';

    return this.getProductStructure(PRODUCT_TYPE);
  },
  methods: {
    async getProductStructure (product_type) {
      try {
        let config = {
          headers: {
            Authorization: {
              toString () {
                return `Bearer ${localStorage.getItem('access_token')}`
              }
            }
          }
        };

        await this.$http
          .get(`${this.$apiUrl}/products_structure/${product_type}`, config)
          .then(response => {

            if (!response.data.status) {
              throw response.data.message;
            }

            let product_structure = response.data.data.popular.map(feature => {
              return this.questionByStructure(feature);
            });

            this.product_structure = product_structure;
            return;
          });

        return;
      } catch (error) {
        console.error(error);
      }
    },
    questionByStructure (feature) {
      let question = '';

      switch (feature) {
        case 'camera':
          question = `A câmera é boa?`;
          break;

        case 'memory':
          question = `Tem memória suficiente para armazenar fotos e dados?`;
          break;

        case 'battery':
          question = `A bateria dura o suficiente?`;
          break;

        case 'display':
          question = `A qualidade da tela, brilho, resolução, é boa?`;
          break;

        case 'design':
          question = `Beleza, tamanho e design do aparelho?`;
          break;
        
        case 'usability':
          question = `Facilidade de uso do sistema como um todo, configurações, aplicativos, etc?`;
          break;
        
        case 'speed':
          question = `Rapidez para abrir aplicativos e fluidez de uso (não “congela” nem “trava”)?`;
          break;
      
        default:
          question = `Como é o(a) ${feature}?`;
          break;
      }

      return {
        feature: feature,
        question: question
      };
    },
    answeredRating () {
      setTimeout(() => {
        if (this.show_rating_id === null) {
          this.show_rating_id = 0;
        }
        else {
          this.show_rating_id++;
        }

        if (this.show_rating_id === this.product_structure.length) {
          this.postPopularRating();
        }
      }, 300);

      return;
    },
    async postPopularRating () {
      try {
        let bodyFormData = new FormData();
        
        bodyFormData.set('brand', this.$route.params.brand);
        bodyFormData.set('model', this.$route.params.model);
        bodyFormData.set('version', this.$route.params.version);

        let Rating = this.createRatingStructure();
        bodyFormData.set('rating', Rating);

        let config = {
          headers: {
            Authorization: {
              toString () {
                return `Bearer ${localStorage.getItem('access_token')}`
              }
            }
          }
        };

        await this.$http
          .post(`${this.$apiUrl}/ratings`, bodyFormData, config)
          .then(response => {

            if (!response.data.status) {
              throw response.data.message;
            }

            return this.$router.replace('/user-ratings');
          });

        return;
      } catch (error) {
        console.error(error);
      }
    },
    createRatingStructure () {
      let form_ratings  = document.getElementById('ratingForm').getElementsByTagName('input');
      let Rating        = new Object();
      Rating.popular    = {};
      Rating.technical  = {};

      for (let index = 0; index < form_ratings.length; index++) {
        if (form_ratings[index].checked === true) {
          const FEATURE = form_ratings[index].name;
          const VALUE = parseInt(form_ratings[index].value, 10);

          if (FEATURE === `technical_knowledge`) {
            Rating[FEATURE] = VALUE;
          }
          else {
            Rating['popular'][FEATURE] = VALUE;
          }
        }
      }

      return JSON.stringify(Rating);
    }
  }
};
</script>

<style lang="scss">
.panel_component--section_rating {
  position: relative;
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel_component--feature_rating {
  position: absolute;
  width: 100%;
  padding: 5rem 1rem;
}

.hide_panel {
  display: none;
}
</style>
