<template>
  <div class="">

    <HeaderApp
      :show_logout="true"
    />
    
    <section class="panel_component">
      <form id="userForm" action="#" method="post">
        <h2>Precisamos te conhecer melhor</h2>
				<p>Quer dicas mais precisas?</p>
				<p>As respostas abaixo são opcionais (apenas avance se não quiser responder), mas se o sistema conhecer você melhor, conseguirá indicar melhores opções! ❤️.</p>

        <section class="form_wrapper">
          <input
            v-for="(field_name, id) in user_fields"
            :key="id"
            class="selectproduct_component--input"
            type="text"
            :name="field_name"
            :placeholder="toTranslate(field_name, 'ptbr')"
          >
        </section>

        <div class="form_button_wrapper">
          <button
            class="button_cyp button_next"
            type="button"
            @click="postProductsInfo()"
          >
            Próximo
          </button>
        </div>

      </form>
    </section>

  </div>
</template>

<script>
import HeaderApp from '@/components/HeaderApp.vue';

export default {
  name: 'UserInformation',
  components: {
    HeaderApp
  },
  data () {
    return {
      user_fields: [],
      translate: {
        ptbr: {
          name: 'Nome',
          email: 'E-mail',
          avatar: 'Avatar',
          age_range_min: 'Idade mínima',
          age_range_max: 'Idade máxima',
          location: 'Cidade, UF',
          gender: 'Gênero',
          birthday: 'Data de aniversário',
          job: 'Profissão',
          education_level: 'Nível de escolaridade'
        }
      }
    }
  },
  beforeCreate () {
    if (!localStorage.access_token || !localStorage.token_type) {
      return this.$router.replace('/');
    }
  },
  mounted () {
    this.getUserInformationFields();
  },
  methods: {
    toTranslate (text_translate, to_language) {
      return this.translate[to_language][text_translate];
    },
    validMaskDate (valid_date, to_language) {
      valid_date = valid_date.replace(/\//g, "-");
      
      let valid_date_array = valid_date.split("-");
      let year  = valid_date_array[2];
      let month = null;
      let day   = null;

      if (to_language == `ptbr`) {
        month = valid_date_array[1];
        day   = valid_date_array[0];
      }
      else if (to_language == `en`) {
        month = valid_date_array[0];
        day   = valid_date_array[1];
      }

      if (month > 12 || month < 1) {
        return false;
      }

      if (month == 2) {
        if ((year % 4 == 0) && ( (year % 100 != 0) || (year % 400 == 0) )) {
          if ((day < 1) || (day > 29)) {
            return false;
          }
        }
        else if ((day < 1) || (day > 28)) {
          return false;
        }
      }

      valid_date = new Date(
        year,
        (month - 1),
        day
      );
      
      if (valid_date == `Invalid Date`) {
        return false;
      }

      return true;
    },
    async getUserInformationFields () {
      try {
        let config = {
          headers: {
            Authorization: {
              toString () {
                return `Bearer ${localStorage.getItem('access_token')}`
              }
            }
          }
        };

        await this.$http
          .get(`${this.$apiUrl}/user_information_fields`, config)
          .then(response => {

            if (!response.data.status) {
              throw response.data.message;
            }

            if (response.data.data.length === 0) {
              this.$router.replace('/product-detail');
            }

            let id_remove_element = null;

            id_remove_element = response.data.data.indexOf('age_range_min');
            if (id_remove_element >= 0) {
              response.data.data.splice(id_remove_element, 1);
            }

            id_remove_element = response.data.data.indexOf('age_range_max');
            if (id_remove_element >= 0) {
              response.data.data.splice(id_remove_element, 1);
            }

            this.user_fields = response.data.data;
            return;
          });

        return;
      } catch (error) {
        console.error(error);
      }
    },
    async postProductsInfo () {
      try {
        let form_data = document.getElementById('userForm').getElementsByTagName('input');

        let formData = {};
        for (let index = 0; index < form_data.length; index++) {
          if (form_data[index].value.length > 0) {
            if (form_data[index].name == `birthday` && !this.validMaskDate(form_data[index].value, `ptbr`)) {
              return;
            }
            formData[form_data[index].name] = form_data[index].value;
          }
        }

        if (Object.keys(formData).length == 0) {
          return this.$router.replace('/product-detail');
        }

        let config = {
          headers: {
            Authorization: {
              toString () {
                return `Bearer ${localStorage.getItem('access_token')}`
              }
            }
          }
        };

        await this.$http
          .patch(`${this.$apiUrl}/user`, formData, config)
          .then(response => {

            if (!response.data.status) {
              throw response.data.message;
            }

            return this.$router.replace('/product-detail');
          });

        return;
      } catch (error) {
        console.error(error);
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.panel_component {
  p {
    max-width: 700px;
    padding: 0 1em;
  }
}

.form_button_wrapper {
	justify-content: flex-end;
}

.form_wrapper {
  height: inherit;
  flex-direction: column;
  padding: 1rem 0;
}

.selectproduct_component--input {
  width: 90%;
  margin: 0.5rem 0;
}
</style>