<template>
  <div class="">

    <HeaderApp
      :show_logout="true"
    />

    <section class="panel_component userratings_content">
      
      <p>Sua avaliação foi salva!</p>
      <p>Veja o que outras pessoas acham de seu produto.</p>

      <h2>Média geral</h2>
      <section class="userratings_content--rating">

        <section
          class="userratings_content--product"
          v-for="(product, id) in product_average"
          :key="id"
        >
          <h3>
            {{ product.brand }}
            {{ product.model }}
            {{ product.version }}
          </h3>
          <StarsItem
            v-for="(structure, index) in product.structure_rating.popular"
            :key="index"
            :field_name="structure"
            :star_target="parseInt(parseFloat(product.average_rating.popular[structure]).toFixed(0), 10)"
          />
        </section>

      </section>
    </section>

  </div>
</template>

<script>
import HeaderApp from '@/components/HeaderApp.vue';
import StarsItem from '@/components/StarsItem.vue';

export default {
  name: 'UserRatings',
  components: {
    HeaderApp,
    StarsItem
  },
  data () {
    return {
      product_average: null,
      user_ratings: null,
      features_average: null
    }
  },
  computed: {
    userName () {
      if (localStorage.user_name !== undefined) {
				return localStorage.user_name.split(' ')[0];
			}
			return 'Quem é você? o.O';
		}
  },
  beforeCreate () {
    if (!localStorage.access_token || !localStorage.token_type) {
      return this.$router.replace('/');
    }
  },
  mounted () {
    return this.getUserRatings();
  },
  methods: {
    async getUserRatings () {
      try {
        let config = {
          headers: {
            Authorization: {
              toString () {
                return `Bearer ${localStorage.getItem('access_token')}`
              }
            }
          }
        };

        await this.$http
          .get(`${this.$apiUrl}/user_products_average_ratings`, config)
          .then(response => {

            if (!response.data.status) {
              throw response.data.message;
            }

            this.product_average = response.data.data;

            return;
          });

        return;
      } catch (error) {
        console.error(error);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
h2 {
  padding: 1rem;
  font-size: 20px;
}

h3,
p {
  padding: .5rem 1rem;
}

.userratings_content {
  flex-direction: column;

  p {
    font-size: 18px;
  }
}

.userratings_content--rating {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  overflow-y: auto;
  padding-bottom: 5rem;
}

.userratings_content--product {
  width: 350px;
  padding: 1rem;
  margin: 1rem;
}

@media screen and (max-width: 720px) {
  h3,
  p {
    padding: .25rem 1rem;
  }  
}
</style>
