<template>
  <header
		class="header_component"
		:class="{'justify_content_center' : !showLogout}"
	>

		<figure
			v-show="showLogout"
		>
			<img :src="userAvatar" :alt="userName">
			<figcaption>{{ userName }}</figcaption>
		</figure>

    <h1>ChooseYourProduct</h1>

		<button
			class="button_cyp"
			type="button"
			@click="logout()"
			v-show="showLogout"
		>
			Sair
		</button>

  </header>
</template>

<script>
export default {
	name: 'HeaderApp',
	props: {
		show_logout: Boolean
	},
	computed: {
		showLogout () {
			if (this.show_logout) {
				return true;
			}
			return false;
		},
		userName () {
      if (localStorage.user_name !== undefined) {
				return localStorage.user_name.split(' ')[0];
			}
			return 'Quem é você? o.O';
		},
		userAvatar () {
			if (localStorage.user_avatar !== undefined) {
				return localStorage.user_avatar;
			}
			return 'assets/avatar-default.png';
		}
	},
	methods: {
    logout () {
      localStorage.clear();
      this.$router.replace('/');
      return;
		}
	}
};
</script>

<style lang="scss">
@import '../assets/variables';

.justify_content_center {
	justify-content: center !important;
}

.header_component {
  width: 100%;
	height: 20vh;
  padding: 1rem 1rem;
  font-size: 18px;
  color: $primary-color;
  background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 99;

	figure {
		border: 0;

		img {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}

  h1 {
    font-size: inherit;
  }

	button {
		&:hover,
		&:active {
			background-color: #f00;
			color: #fff;
		}
	}
}

@media screen and (max-width: 720px) {  
	.header_component {
		font-size: 16px;

		figure {

			img {
				width: 40px;
				height: 40px;
			}
		}
	}
}
</style>
