<template>
  <div class="selectproduct_component">
    
    <select
			v-show="!new_product"
			class="selectproduct_component--select"
			:name="detail_name"
			@change="$emit('changeValue', $event.target.value)"
		>
			<option
				v-for="(detail, index) in details"
				:key="index"
				:value="detail"
			>
				{{ detail }}
			</option>
		</select>

		<input
			v-show="new_product"
			class="selectproduct_component--input"
			type="text"
			:name="detail_name"
			:placeholder="detail_info"
		>
    
  </div>
</template>

<script>
export default {
	name: 'SelectProductDetail',
	props: {
		detail_name: String,
		new_product: Boolean,
		detail_info: String,
		details: Array
	}
};
</script>

<style lang="scss">
.selectproduct_component {
	flex: 1;
}

.selectproduct_component--select,
.selectproduct_component--input {
	margin: 1rem 0;
	padding: .5rem;
	font-size: 20px;
	background: #ddd;
	cursor: pointer;
}

.selectproduct_component--select {
	width: 90%;
}

.selectproduct_component--input {
	width: 180px;
}

@media screen and (max-width: 720px) {
  .selectproduct_component {
    flex: inherit;
    width: 100%;
	}
	
	.selectproduct_component--select,
	.selectproduct_component--input {
		margin: .5rem 0;
		font-size: 16px;
	}

	.selectproduct_component--input {
		width: 90%;
	}
}
</style>
