<template>
  <section class="login_component">
    
    <div class="login_component--link" @click="loginFacebook">
      <img class="login_component--logo" alt="Vue logo" src="@/assets/fb.png">
      <span>Conectar via Facebook</span>
    </div>
    
  </section>
</template>

<script>
export default {
  name: 'SocialLogin',
  mounted () {
    const parameters = this.getParametersURL(location.href);

    if (parameters.access_token) {
      localStorage.access_token = parameters.access_token;
      localStorage.token_type   = parameters.token_type;
      localStorage.user_name    = parameters.user_name;
      localStorage.user_avatar  = parameters.user_avatar;
      
      this.$router.replace('/user-information');
    }
  },
  methods: {
    async loginFacebook () {
      await this.$http.get(`${this.$apiUrl}/login/facebook`)
        .then(response => {
          window.location.href = response.data
        })
        .catch(function (error) {
          console.error(error);
        });
    },
    getParametersURL (url) {
      let params = {};
      let parser = document.createElement('a');

      parser.href = url;

      let query = parser.search.substring(1);
      let lets = query.split('&');

      for (let i = 0; i < lets.length; i++) {
        let pair = lets[i].split('=');

        params[pair[0]] = decodeURIComponent(pair[1]);
      }

      return params;
    }
  }
};
</script>

<style lang="scss">
.login_component,
.login_component--link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_component {
  width: 100vw;
  height: 80vh;
  font-size: 24px;
  color: #1877f2;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.login_component--link {
  padding: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .3);
  border-radius: 5px;
  cursor: pointer;
}

.login_component--logo {
  width: 50px;
  margin-right: 1rem;
}

@media screen and (max-width: 720px) {
  .login_component {
    font-size: 20px;
  }

  .login_component--logo {
    width: 45px;
    margin-right: .5rem;
  }
}
</style>
