<template>
  <section class="starsrating_component">

		<h4 class="starsrating_component--field">{{ field_name }}</h4>

		<div class="starsrating_component--stars">
			<div
				v-for="(star, id) in this.$rangeRating"
				:key="id"
			>

				<span
					class="starsrating_item--star"
					:class="{'starsrating_item--star_checked': (id < star_target)}"
				>
					★
				</span>
				
			</div>
		</div>

	</section>
</template>

<script>
export default {
	name: 'StarsItem',
	props: {
		field_name: String,
		star_target: Number
	}
};
</script>

<style lang="scss" scoped>
@import '../assets/variables';

.starsrating_component,
.starsrating_component--stars {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.starsrating_component--field {
	flex: 2;
	text-align: left;
	font-size: 16px;
}
	
.starsrating_component--stars {
	flex: 1;
	margin: 0 .15rem;
}
	
.starsrating_item--star {
	border-radius: 10px;
	color: $star-color-off;
	cursor: pointer;
	font-size: 32px;
	user-select: none;
}
	
.starsrating_item--star_checked {
	color: $star-color-on;
}
</style>
