<template>
  <section>

		<h2>{{ description }}</h2>

		<div class="starsproduct_component">
			<div
				class="starsproduct_component--stars"
				v-for="(star, id) in this.$rangeRating"
				:key="id"
			>

				<input
					class="starsproduct_component--radio"
					type="radio"
					:value="(id + 1)"
					:name="field_name"
					:id="field_name + (id + 1)"
					@change="$emit('changeValue', field_name)"
				>

				<label
					class="starsproduct_component--label"
					:for="field_name + (id + 1)"
				>
					<span
						class="starsproduct_item--star"
						:class="{'starsproduct_item--star_checked': star_checked[id]}"
						@click="onStarCheck(id)"
					>
						★
					</span>
				</label>
				
			</div>

		</div>
	</section>
</template>

<script>
export default {
	name: 'StarsProductRating',
	props: {
		description: String,
		field_name: String
	},
	data () {
		return {
			star_checked: []
		}
	},
	mounted () {
		for (let index = 0; index < this.$rangeRating; index++) {
			this.star_checked.push(false);
		}
	},
	methods: {
		onStarCheck (item_id) {
			const CHECK = true;
			const UNCHECK = false;

			for (let index = 0; index < this.$rangeRating; index++) {
				this.$set(this.star_checked, index, UNCHECK);
			}

			for (let index = 0; index <= item_id; index++) {
				this.$set(this.star_checked, index, CHECK);
			}
			
			return;
		}
	}
};
</script>

<style lang="scss" scoped>
@import '../assets/variables';

.starsproduct_component {
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.starsproduct_component--stars {
	margin: 0 .5rem;
}
	
.starsproduct_component--radio {
	display: none;
}
	
.starsproduct_item--star {
	border-radius: 10px;
	color: $star-color-off;
	cursor: pointer;
	font-size: 64px;
	user-select: none;
}
	
.starsproduct_item--star_checked {
	color: $star-color-on;
}

@media screen and (max-width: 720px) {
	.starsproduct_item--star {
		font-size: 48px;
	}  
}
</style>
