<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import 'assets/variables';

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

#app {
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  text-align: center;
  width: 100vw;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.button_cyp {
  padding: .75rem 1rem;
	border-radius: .5rem;
	font-size: 16px;
	font-weight: bold;
	background-color: #fff;
	color: $primary-color;
	cursor: pointer;
	transition: background-color ease-in .1s;
	transition: color ease-in .1s;
}

@media screen and (max-width: 720px) {
  .button_cyp {
    color: $primary-color;
    cursor: pointer;
    transition: background-color ease-in .1s;
    transition: color ease-in .1s;
  }
}
</style>
